<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.ui.js"></script>
		<link rel="stylesheet" href="css/style.css">
		<title>Home - Ziutur Excursões</title>
        
	</head>
	
	<body>
		<div class="nav-wrapper">
   			<nav class="nav-menu">
   				<ul class="clearfix">
			        <li><a href="/">Home</a></li>
			        <li><a href="/pacotes">Pacotes</a></li>
			        <li><a href="/sobre">Sobre</a></li>
			        <li><a href="/contato">Contato</a></li>
                </ul>
            </nav>
		</div>

        <br><br><br> 

       	<div>
			
			<h4 id="fotoback"><center></h4>	

		</div>

       <div class="container paineis">
			<!-- o painel de viagens fica aqui dentro -->
			<section class="painel novidades">
				<h2>Novos Pacotes:</h2>
				<ol>
					<!-- primeiro produto -->
					<li>
						<a href="">
							<figure>
								<img src="img/angra.jpg">
							<figcaption>Angra dos Reis em até 10x de R$ 199,00</figcaption>
							</figure>
						</a>
					</li>
					<li>
						<a href="">
							<figure>
								<img src="img/rio.jpg">
							<figcaption>Rio de Janeiro em até 10x de R$ 175,00</figcaption>
							</figure>
						</a>
					</li><li>
						<a href="">
							<figure>
								<img src="img/gramado.jpg">
							<figcaption>Serras Gaúchas em até 10x de R$ 275,00</figcaption>
							</figure>
						</a>
					</li><li>
						<a href="">
							<figure>
								<img src="img/cruzeiro.jpg">
							<figcaption>Cruzeiro ao Caribe até 10x de R$ 550,00</figcaption>
							</figure>
						</a>
					</li><li>
						<a href="">
							<figure>
								<img src="img/salvador.jpg">
							<figcaption>Salvador-BA em até 10x de R$ 150,00</figcaption>
							</figure>
						</a>
					</li><li>
						<a href="">
							<figure>
								<img src="img/disney.jpg">
							<figcaption>Disney World em até 10x de R$ 750,00</figcaption>
							</figure>
						</a>
					</li>
				</ol>

			</section>
		</div>



		<div class="paineldireita" id="tabs">
			<ul>
			    <li><a href="#tab1">Viaje conosco</a></li>
			    <li><a href="#tab2">Depoimentos</a></li>
				<li><a href="#tab3">Dicas de viagem</a></li>
			</ul>
			<div id="tab1">
			    <h3>Um passo à frente da concorrência.</h3>
				<p>A Ziutur faz tudo por uma boa viagem. Por isso trabalha para transformar essa experiência na melhor conquista de sua vida, através de novas tendências e ampla rede de produtos e serviços turísticos. É essa forma de pensar que estabelece a Ziutur como a maior operadora de turismo do interior cearense.
				O comprometimento social, a solidez e a inovação propiciaram notoriedade e visibilidade junto ao público. A Ziutur oferece o parcelamento de viagens em 10 vezes sem juros e valores que cabem no bolso do consumidor.<p>
				<center><b><img src="img/cruzeirosaqui.jpg"><br>Cruzeiros Internacionais<br><br><br></b></center>
				<center><b><img src="img/particular.jpg"><br><br>Frota Particular</b></center>
			</div>
			<div id="tab2">
			    <h3>Nadiana Sousa - Rio de Janeiro</h3>
			    <img src="img/anonimo.jpg">
			    <p>Agradecemos todo suporte da empresa.
				Desde a negociação, o entendimento do que queríamos, a elaboração da viagem, todos os detalhes de hotel, traslados, passeios! O atendimento foi INCRÍVEL! Desde o primeiro contato!
				Ficamos surpresos com a organização na entrega dos vouchers! 
				Tivemos a explicação mais detalhada possível de cada um dos vouchers, de cada detalhe... Foi incrível! Mesmo na viagem, tivemos retorno de qualquer dúvida, qualquer ponto!
				Quando tivemos problemas com as malas (por um descuido da companhia), tivemos toda atenção e suporte necessária.
				O atendimento, o cuidado, a retorno imediato às nossas necessidades: isso tudo não tem preço!
				E peço para que este feedback seja compartilhado com toda equipe que em todos os contatos tiveram toda atenção do mundo com a gente!
				Graças a vocês nossa lua de mel foi ainda mais incrível do que imaginamos =D
				Muuuito obrigada por tudo!</p>
				<br>
				<h3>Jorge André - Fortaleza</h3>
			    <img src="img/anonimo.jpg">
			    <p>Foi uma viagem maravilhosa. Só temos a agradecer por todo o apoio prestado pela equipe da Ziutur.
			    Muito obrigado pela atenção! A viagem foi espetacular. Logo logo fecharemos outro pacote!
				O atendimento, o cuidado, a retorno imediato às nossas necessidades: isso tudo não tem preço!
				E peço para que este feedback seja compartilhado com toda equipe que em todos os contatos tiveram toda atenção do mundo com a gente!
				Graças a vocês nossa lua de mel foi ainda mais incrível do que imaginamos =D
				Muuuito obrigada por tudo!
				Agradecemos todo suporte da empresa.
				Desde a negociação, o entendimento do que queríamos, a elaboração da viagem, todos os detalhes de hotel, traslados, passeios! O atendimento foi INCRÍVEL! Desde o primeiro contato!Foi uma viagem maravilhosa. Só temos a agradecer por todo o apoio prestado pela equipe da Ziutur.</p>
			</div>
			<div id="tab3">
			    <h3>Viagens com menores!</h3><br>
			    <p>A primeira coisa a esclarecer é quem regulamenta a viagem de crianças e adolescentes e a documentação necessária para o embarque. Essa competência é do Conselho Nacional de Justiça (CNJ), que teve como última regulamentação a respeito a Resolução 131, de 2011, sobre a concessão de autorização de viagem para o exterior de crianças e adolescentes brasileiros.</p>

			    <h3>As 3 dúvidas mais comuns sobre promoções de passagens aéreas</h3>
			    <h4>1.Como encontrar passagens mais baratas ou em promoção?</h4>
				<h4>Resposta:</h4>
				<p>Lendo o Melhores Destinos! 🙂  Mas além de acompanhar nossas postagens, vale a pena fazer suas pesquisas com os destinos desejados, pois os preços das passagens mudam a todo instante. Para isso é essencial saber onde pesquisar e algumas dicas, como a hora certa de comprar.</p>

				<p><h4>2. Será que é possível sair promoção da minha cidade para tal lugar?</h4></p>

				<h4>Resposta:</h4>
				<p>Sim, é possível! Esta é a boa notícia! A má notícia é que não é possível prever se vai sair, quando vai sair e qual será o preço cobrado. Muitos brincam que para isso o MD teria que ter uma bola de cristal e seria mais ou menos por ai, já que pode surgir uma grande promoção a qualquer momento! </p>

				<h4>3. Por que não sai promoção da minha cidade?</h4>

				<p><h4>Resposta:</h4></p> 
				<p>Promoções são ações estratégicas das companhias aéreas. Vários fatores são avaliados ao se decidir quando fazer uma promoção, as cidades incluídas e o período de compra e viagem. Taxa de ocupação nos voos, concorrência, necessidade de divulgar a rota ou o destino, incentivos externos e eventos são apenas algumas das variáveis consideradas pelas companhias.</p><br>
			</div>
		</div>	

		<!-- Mensagem de boas vindas ao site, com jquery! retirei pois achei que ia ficar menos bonito ainda kkkkkk

		<div id="dialog-message" title="Bem vindo!">
			<h1>Seja bem vindo ao site da Ziutur Excursões!</h1>
		    <p>Participe já da promoção Ziutur na Russia! Mais informações em www.ziutur.com/russia</p>
		</div> 

		-->

		<footer>
				<div id="rodape">
					<p class="rodape">Todos os direitos reservados a Ziutur Excursões, Fundada em 03/1988 - Tel. (88) 3214.1524 - Desenvolvido por RS - 2018</p>
				</div>
		</footer>
	</body>
	<script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>
</html>