<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.ui.js"></script>
		<link rel="stylesheet" href="css/style.css">
		<title>Pacotes</title>
        
	</head>
	
	<body>
		<div class="nav-wrapper">
   			<nav class="nav-menu">
   				<ul class="clearfix">
			        <li><a href="/">Home</a></li>
			        <li><a href="/pacotes">Pacotes</a></li>
			         <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/contato">Contato</a></li>
                </ul>
            </nav>
		</div>

        <br><br><br>

        <h2>Duas dicas de passeio:</h2>
        <h3>Excursão de um dia pelo Corcovado, Cristo Redentor e Pão de Açúcar</h3>
        <img class="passeiosft" src="img\paodeacucar.jpg" align="right" width="380" height="100%">
        <p>Combine as duas excursões mais famosas do Rio em uma excursão de dia inteiro, embalado por vistas de tirar o fôlego. Pela manhã, você desfrutará de um city tour panorâmico e terá a oportunidade de passear de teleférico até o ponto mais alto do Pão de Açúcar. Após o almoço, você passeará de trem pela Floresta da Tijuca para visitar o Cristo Redentor, no alto do Corcovado.</p>
        </img>
        <h4>Detaques</h4>
        <ul>
            <li>Inclui transporte de ida e volta em hotéis selecionados</li>
            <li>Aprecie vistas aéreas fantásticas</li>
            <li>Excursão de trem</li>
            <li>Inclui almoço</li>
        </ul>
        <p>Vale a pena conferir!</p>
	    <a href="">Clique aqui para saber mais na Ziutur Excursões</a>
        <br><br><br>
        <h3>Voo panorâmico de helicóptero pelas Cataratas do Iguaçu</h3>
        <img class="passeiosft" src="img/Cataratas.jpg" align="right" width="380" height="100%">
        <p>
            O que poderia ser melhor do que ter uma vista aérea das Cataratas do Iguaçu? Nesta excursão memorável de Foz do Iguaçu, você entrará em um helicóptero e planará bem acima das cachoeiras, como se estivesse vendo pelos olhos de pássaros essa paisagem estonteante. Essa é a melhor maneira de ver as Cataratas do Iguaçu: um piloto experiente, um helicóptero confortável e inúmeras oportunidades de fotos inimagináveis.
        </p>

        </img>
        <h4>Detaques</h4>
        <ul>
            <li>Inclui todos os impostos, adicionais de combustível e taxas de serviço</li>
            <li>Aprecie vistas aéreas fantásticas</li>
            <li>Inclui transporte de ida e volta em hotéis selecionados</li>
            <li>Piloto profissional e qualificado</li>
        </ul>
        <p>Vale a pena conferir!</p>
	    <a href="">Clique aqui para saber mais na Ziutur Excursões</a>
        <br><br><br>
        <caption><center><h2>Conheça todos os nossos passeios turísticos:</h2></caption>   
            <table align="center">
                <tr>
            	            <td align="center"><img src="img/helicoptero.jpg"></img></td>
            		        <td align="center"><img src="img/riodecima.jpg"></img></td>
            		        <td align="center"><img src="img/helicoptero2.jpg"></img></td>
                            <td align="center"><img src="img/buenos.jpg"></img></td>
                            <td align="center"><img src="img/roma.jpg"></img></td>
                            <td align="center"><img src="img/cartagena.jpg"></img></td>
                            <td align="center"><img src="img/salvador.jpg"></img></td>
                            <td align="center"><img src="img/disney.jpg"></img></td>
            		    </tr>
            		    <tr>		
            		        <td align="center">Passeio de helicóptero pelo Rio de Janeiro</td>
            		        <td align="center">Rio de Janeiro Super Saver</td>
            		        <td align="center">Voo pelas Cataratas do Iguaçu</td>
                            <td align="center">Feriado em Buenos Aires</td>
                            <td align="center">Visita aos monumentos de Roma</td>
                            <td align="center">Estadia em Cartagena</td>
                            <td align="center">Tour do Pelourinho em Salvador</td>
                            <td align="center">Dia na Disney</td>
            		    </tr>
            		    <tr>    
            		        <td align="center">A partir de</td>
            		        <td align="center">A partir de</td>
            		        <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
            		    </tr>
            		    <tr>    
            		        <td align="center"><b><big>R$ 980,99</big></b></td>
            		        <td align="center"><b><big>R$ 1099,99</big></b></td>
            		        <td align="center"><b><big>R$ 899,99</big></b></td>
                            <td align="center"><b><big>R$ 1499,99</big></b></td>
                            <td align="center"><b><big>R$ 499,99</big></b></td>
                            <td align="center"><b><big>R$ 399,99</big></b></td>
                            <td align="center"><b><big>R$ 199,99</big></b></td>
                            <td align="center"><b><big>R$ 2149,99</big></b></td>
            		    </tr>
            		</table>
                    <br>
                    <div id="panel" class="hidden content"><!-- conteudo que vai ficar escondido -->
                        <table align="center">
                <tr>
                            <td align="center"><img src="img/egito.jpg"></img></td>
                            <td align="center"><img src="img/miami.png"></img></td>
                            <td align="center"><img src="img/moscou.jpg"></img></td>
                            <td align="center"><img src="img/novaiorque.jpg"></img></td>
                            <td align="center"><img src="img/santiago.jpg"></img></td>
                            <td align="center"><img src="img/saofrancisco.jpg"></img></td>
                            <td align="center"><img src="img/sidney.jpg"></img></td>
                            <td align="center"><img src="img/tokio.jpg"></img></td>
                            <td align="center"><img src="img/hongkong.jpg"></img></td>
                        </tr>
                        <tr>        
                            <td align="center">Conheça as Pirâmides do Egito</td>
                            <td align="center">I'm Miami Beach!</td>
                            <td align="center">Visite a arquitetura magistral de Moscou</td>
                            <td align="center">Uma noite na cidade que nunca dorme, New York</td>
                            <td align="center">Veja os montes nevados de Santiago</td>
                            <td align="center">Conheça a ponte mais famosa do mundo</td>
                            <td align="center">A fascinante Sydney</td>
                            <td align="center">A metrópole Tóquio</td>
                            <td align="center">Visite o mundo que é Hong Kong</td>
                        </tr>
                        <tr>    
                            <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
                            <td align="center">A partir de</td>
                        </tr>
                        <tr>    
                            <td align="center"><b><big>R$ 1980,99</big></b></td>
                            <td align="center"><b><big>R$ 2099,99</big></b></td>
                            <td align="center"><b><big>R$ 3099,99</big></b></td>
                            <td align="center"><b><big>R$ 2199,99</big></b></td>
                            <td align="center"><b><big>R$ 2299,99</big></b></td>
                            <td align="center"><b><big>R$ 3199,99</big></b></td>
                            <td align="center"><b><big>R$ 4599,99</big></b></td>
                            <td align="center"><b><big>R$ 2749,99</big></b></td>
                            <td align="center"><b><big>R$ 2989,99</big></b></td>
                        </tr>
                    </table><br>
                        
                    </div><!--fim do conteudo escondido -->
                    
                    <div id="toggle" class="content">Clique aqui e veja mais sugestões de passeios!</div>
            



    </body>
    <footer>
                <div id="rodape">
                    <p class="rodape">Todos os direitos reservados a Ziutur Excursões, Fundada em 03/1988 - Tel. (88) 3214.1524 - Desenvolvido por RS - 2018</p>
                </div>
        </footer>

<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('#toggle').click(function(){
        jQuery('#panel').toggleClass('hidden');
    });
});
</script>

</html>


