<!doctype html>

<html>
<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="js/jquery.min.js"></script>
        <script src="js/jquery.ui.js"></script>
		<link rel="stylesheet" href="css/style.css">
		<title>Sobre</title>
        
	</head>
	
	<body>
		<div class="nav-wrapper">
   			<nav class="nav-menu">
   				<ul class="clearfix">
			        <li><a href="/">Home</a></li>
			        <li><a href="/pacotes">Pacotes</a></li>
			        <li><a href="/sobre">Sobre</a></li>
			        <li><a href="/contato">Contato</a></li>
                </ul>
            </nav>
		</div>

		<br><br><br><br>
		<img id="logosobre" src="img/ziutur.jpg">
		<h2>A Ziutur Excursões</h2>

		<p>Saiba tudo sobre a história de sucesso, os prêmios conquistados e todas as novidades da maior operadora de turismo do Ceará.</p>

		<div><p>A <strong>Ziutur</strong> faz tudo por uma boa viagem. Por isso trabalha para transformar essa experiência na melhor conquista de sua vida, através de novas tendências e ampla rede de produtos e serviços turísticos. É essa forma de pensar que estabelece a Ziutur como a maior operadora de turismo da América Latina.</p>

		<p>O comprometimento social, a solidez e a inovação propiciaram notoriedade e visibilidade junto ao público. A Ziutur oferece o parcelamento de viagens em 10 vezes sem juros e valores que cabem no bolso do consumidor.</p>

		<h2>Novo Portal Ziutur</h2>
		<p>Atenta às necessidades de seus clientes, em 2012, a <strong>Ziutur</strong> reformulou o seu portal, pensando em criar um diálogo entre o usuário e a empresa. Mais que um design arrojado, – <em>o quinto desde a criação da primeira loja virtual, no ano de 2000</em> – ele ganha uma nova dinâmica e um novo conceito de navegação, garantindo usabilidade e tecnologia.</p>

		<p>A partir de agora, você confere visual moderno, navegação intuitiva, conteúdos ainda mais completos e atraentes, conceito editorial, produtos reunidos de maneira organizada para consulta ágil, sistema de busca inteligente com opção de refinamento e promoções imperdíveis. Destaque também à integração com as redes sociais.</p>

		<p>Embarque nessa com a gente, aperte os cintos e excelente aventura!</p>
		
		<figure id="sede"><img src="img/sede.jpg"><figcaption>Sede - Ziutur em<a href="https://maps.google.com.br/?q=Iguatu">Iguatu, no Ceará.</a><br></figcaption></figure>
		
		<p>Entre em contato caso tenha dúvidas.</p></div>

		<h3>Ziutur, sempre com você!</h3>

		<em><p>"Informações retiradas do site da CVC."

	</body>
	<footer>
				<div id="rodape">
					<p class="rodape">Todos os direitos reservados a Ziutur Excursões, Fundada em 03/1988 - Tel. (88) 3214.1524 - Desenvolvido por RS - 2018</p>
				</div>
	</footer>
</html>